{% extends 'base.html' %}

{% block title %} Menu
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/icecream.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>"Life is like an ice cream: Enjoy it before it melts.</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/icecream2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>If life is a bowl of dark ice cream, small moments we enjoy are colorful sprinkles all over it.
                    </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/img/icecream3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tomorrow, we can eat broccoli, but today is for ice cream.</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="resp-tabs-container carTabs">
    <center><u>
            <h2 class="resp-accordion" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Nutty
                Concepts </h2>
            <div id="carTab1" class="resp-tab-content" aria-labelledby="tab_item-0">
    </center></u><br>
    <div class="row marBtm">
        <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="text-left">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Dry Fruit Delight</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>Our classic dry fruit delight ice cream blended and topped with nuts.
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<p class="clearfix"><span class="pull-left">Single Portion</span> <span class="pull-right"><strong>Rs. 99</strong></span></p>
    <p class="clearfix"><span class="pull-left">Regular</span> <span class="pull-right"><strong>Rs. 160</strong></span></p>-->
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="text-left">

                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Nuts Overload</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>A combination of caramel and butter scotch ice creams and roasted
                                                    almond, cashews and choco stick.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--<p class="clearfix"><span class="pull-left">Single Portion</span> <span class="pull-right"><strong>Rs. 99</strong></span></p>
    <p class="clearfix"><span class="pull-left">Regular</span> <span class="pull-right"><strong>Rs. 160</strong></span></p>-->
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="text-left">

                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Karamel Sutra</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>Mouth watering ice cream mixed with roasted roasted almond and
                                                    brownie topped with hot choco fudge.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>


                <!--<div class="clearfix"><h4 class="title pull-left">Blue Berry Yogurt</h4>
    <p><span class="pull-right"><strong>Rs. 112</strong></span></p></div>-->
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="text-left">

                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Arabian Nights</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>Scoops of delicious ice cream mixed with dates, fig and mix nuts.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="text-left">

                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="title">Coffee Craze</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>Coffee, chocolate ice cream mixed with brownies and almond and fudge
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>
<!--/.carTab1 -->
<hr>
<u>
    <center>
        <h2 role="tab" aria-controls="tab_item-1"><span class="underline" aria-hidden="true"></i></span>Chocolate
            Concepts</h2>
        <div id="carTab2" class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-1"
            style="display:block">
    </center>
</u><br>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Tiramisu</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious tiramisu ice cream mixed with crunchy oreo and choco flakes,
                                                garnished with choco coffee powder and choco sticks.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>


    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Willy Wonka</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Chocolate ice cream mixed with choco chips, chocolate pastry, dark choco
                                                fudge and topped with choco stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Oreo Shot</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Ice cream with crunchy oreo and dripping fudge sauce.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>

<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Chocoholics</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Dark chocolate ice cream mixed with perk, crunchy oreo cookies, choco
                                                chips and choco fudge, roasted cashew.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>


    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Choco Lava</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Chocolate ice cream mixed with crunchy oreos, choco chips, hot fudge
                                                topped with hot lava cake and choco stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Ferrero Rocher</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Chocolate ice cream blended with ferrero rocher hot fudge and choc stick
                                                topped with ferrero rocher. </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>


<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Chocolate Over Dose</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Two scoops of delicious ice cream mixed with chocolate cake and topped
                                                with melting walnut brownie.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>


    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Brownie Break</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Ice cream with chocolate walnut brownie and dripping fudge sauce</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Nutella Brownie</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious ice cream mixed with hazel nutella cream and brownie topped
                                                with choco stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>

<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">La-Ferrero</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious ice cream mixed with crunchy oreos, choco chips, hot fudge
                                                topped with hot lave cake and choco stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>


    <div class="col-md-4 col-sm-4 col-xs-12">

        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Choco Hazel</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious ice cream mixed with crunchy perk and crispy choco stick topped
                                                with mini choco hazel badges.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>



</div>





</div>
<!--/.carTab2 -->
<hr>
<u>
    <center>
        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>Fresh Fruit
            Concepts</h2>
        <div id="carTab3" class="resp-tab-content" aria-labelledby="tab_item-2">
    </center>
</u><br>
<div class="row marBtm">

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Lichee Lake</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Fresh vanilla ice cream mixed with fresh lichee fruit and a strawberry
                                                stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Fruit Exotica</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Multi flavoured ice cream with exotic fruit toppings.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Fresh Fruit &amp; Nuts</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Strawberry ice cream crushed with figs, apples, pineapples mixed with
                                                roasted cashews and butter scotch crunchies.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Fruit Overload</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Mouth watering fruit cocktail ice cream mixed with orange velvet cake and
                                                fruits.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>


</div>
<!--/.carTab3 -->
<hr>
<center><u>
        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-3"><span class="resp-arrow"></span>Diet Concepts
        </h2>
        <div id="carTab4" class="resp-tab-content" aria-labelledby="tab_item-3">
</center></u><br>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Fruit Fast</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>A delightful combination of in season fruits, with 95% fat free and sugar
                                                free ice cream, indulge without guilt for weight watchers or other
                                                dietary restrictions.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</div>
<!--/.carTab4 -->
<hr>
<center><u>
        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-4"><span class="resp-arrow"></span>Summer Specials
        </h2>
        <div id="carTab5" class="resp-tab-content" aria-labelledby="tab_item-4">
</center></u><br>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Kala Jamun</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>A seasonal blend of fresh handpicked kala jamun with a generous serving
                                                of delicious jamun ice cream</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Chatpata Guava</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious fresh guava ice cream mixed with pulp and a sprinkle of
                                                chatpata tangy masala.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Meetha Paan</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Aromatic pan ice cream served with traditional month watering pan
                                                ingredients.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Choco Peanut Butter</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious peanut butter blended with vanilla and chocolate ice cream
                                                topped with crushed brownie and chocolate sauce.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Litchi Berry</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Lichee fruit blend with strawberry and lichee ice cream and garnished
                                                with fresh lichee fruit and strawberry sauce.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Banana Caramel Cookies</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Vanilla ice cream mixed with fresh banana and caramel sauce, topped with
                                                cookies.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
<!--/.carTab5 -->


<!--carTab6 -->
<hr>
<center><u>
        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-5"><span class="resp-arrow"></span>Kids Concepts
        </h2>
        <div id="carTab6" class="resp-tab-content" aria-labelledby="tab_item-5">
</center></u><br>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Candy Land</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>A delightful combination of vanilla and strawberry ice cream with choco
                                                chips, jujube and choco stick and gems.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Magic Pop</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Ice cream sprinkled with sizzling and crackling toppings that pop in the
                                                mouth for a fun and flavourful experience.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Bubble Gum (Single Scoop)</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>One scoop of bubble gum ice cream mixed with jelly cubes and jujube.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</div>
<!--/.carTab5 -->



<!--carTab7 -->
<hr>
<center><u>
        <h2 class="resp-accordion" role="tab" aria-controls="tab_item-6"><span class="resp-arrow"></span>Mini Concepts
        </h2>
        <div id="carTab7" class="resp-tab-content" aria-labelledby="tab_item-6">
</center></u><br>
<div class="row marBtm">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Creamy Red Velvet</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>White chocolate ice cream mixed with red velvet cake and choco chip and
                                                topped with choco stick.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="text-left">

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="title">Devils Brownie</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Delicious dark chocolate ice cream mixed with brownie and topped with
                                                choco stick plain and simple flavours</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>


{% endblock body %}